<header>
    <div>
        <h1><a href="/"></a>Gamer's Edge</h1>
        <nav>
            <ul>
                <li><a href="/"></a>Inicio</li>
                <li><a href="/perifericos"></a>Productos</li>
            </ul>
        </nav>
    </div>
</header>

