<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamer's Edge</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/index.css">
    
    <style>
        body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1d29;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
    </style>
</head>


<body>
    <%- include('./partials/header')%>
    

    <div>

        <h1>¡Bienvenidos a Gamer's Edge!</h1>
        <p>Donde encontraras los mejores perifericos y ofertas del mundo!!</p>
        
        <a href="/perifericos">Ver nuestros perifericos</a>
    </div>



    <%- include('./partials/footer')%>
</body>
</html>