<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamer's Edge</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <%- include('partials/header')%>

    <div>
        <h1>Bienvenidos a Gamer's Edge</h1>
        <p>Descubre los mejores precios en perifericos!!</p>

        <a href="/perifericos">Ver Perifericos</a>
    </div>

    <%- include('partials/footer')%>
</body>
</html>