<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamer's Edge</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <%- include('./partials/header')%>
    

    <div>

        <h1>¡Bienvenidos a Gamer's Edge!</h1>
        <p>Donde encontraras los mejores perifericos y ofertas del mundo!!</p>
        
        <a href="/perifericos">Ver nuestros perifericos</a>
    </div>



    <%- include('./partials/footer')%>
</body>
</html>