<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamer's Edge</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <%- include('../partials/header')%>


    <div>
        <h1>Formulario de creacion de perifericos</h1>
        <form action="/perifericos/create" method="POST" enctype="multipart/form-data">

            <div>
                <label for="nombre">Nombre: </label>
                <input type="text" name="nombre" id="nombre" required>
            </div>

            <div>
                <label for="descripcion">descripcion: </label>
                <textarea name="descripcion" id="descripcion" required></textarea>
            </div>

            <div>
                <label for="precio">Precio: </label>
                <input type="number" name="precio" id="precio" required>
            </div>

            <div>
                <label for="imagen">Imagen: </label>
                <input type="file" name="imagen" id="imagen">
            </div>

            <div>
                <label for="categoria_id">Categoría: </label>
                <select name="categoria_id" id="categoria_id">
                    <% categorias.forEach(categoria =>{%>
                        <option value="<%=categoria.id%>"><%=categoria.nombre%></option>
                    <% }) %>
                </select>
            </div>

            <button type="submit">Añadir Periferico</button>


        </form>
    </div>


    <a href="/">Volver a Inicio</a>



    <%- include('../partials/footer')%>
</body>
</html>